@font-face {
  font-family: Ubuntu;
  src: url('../fonts/ubuntu.woff2') format('woff2'),
    url('../fonts/ubuntu.woff') format('woff');
}

@mixin font_ubuntuRegular {
  font-family: Ubuntu;
  font-weight: normal;
}
@mixin font_ubuntuBold {
  font-family: Ubuntu;
  font-weight: bold;
}

